body {
  background-color: #121414;
}


h1 {
  font-family: sans-serif;
}

.main-nav-parent .main-nav-child > a {
  color: var(--text-color);
}

.top-right-nav a {
  position: absolute;
  font-size: 30px;
  color: var(--text-color);
  top: 5px;
  right: 15px;
}
.top-right-nav:hover a {
  color: var(--fg-color);
  transition: all .2s ease;
  transform: scale(1.03);
}

.top-right-nav a:active {
    transform: scale(1);
}